body {
  background: repeating-linear-gradient(45deg, #dddddd, #ffffff 15%, #efefef 20%);
}

.puffed {
  padding-left: 10px;
}

.nav-style {
  background-color: #0f300a;
  color: #ffffdd;
}

.bt2 {
  color: #ffb200;
  background-color: none;
  outline-color: #ffb200;
}

#maincontent {
  background-color: #071900;
  color: #ffffdd;
  display: none;
}

.needpad {
  padding-left: 10%;
  opacity: 0;
}

#divider-c {
  margin-left: -100%;
  border-color: #dfdfdf;
  padding-left: none;
}
